{% extends 'reservations/home.html' %}
{% load my_tags %}
{% block content %}

<main class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <img src="/media/1.jpeg" class="card-img-top">
    <p></p>

    <div class="card-body">
        {% for restaurant in object_list %}
            <h1 class="card-title">История ресторана</h1>
            <p class="card-text">{{ restaurant.history|escape|linebreaks }}</p>
        {% endfor %}

        <div class="d-flex gap-2 justify-content-center"> <!-- Используем flexbox и добавляем отступы между кнопками -->
            <a href="{% url 'reservations:mission' %}" class="btn btn-sm btn-outline-secondary">Миссия и ценности</a>
            <a href="{% url 'reservations:team' %}" class="btn btn-sm btn-outline-secondary">Команда</a>
            <a href="{% url 'reservations:main' %}" class="btn btn-sm btn-outline-secondary">На главную</a>
        </div>

    </div>
</main>

{% endblock %}