{% extends 'reservations/home.html' %}
{% load my_tags %}
{% block content %}

<main class="px-5">
<div class="container">
    <div class="row text-start">
        <div class="lead">

            <div class="card-body">
                <form method="post" action="" class="btn btn-sm btn-outline-secondary">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name">Имя</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" required>
                </div>

                <div class="mb-3">
                    <label for="phone">Телефон</label>
                    <input type="text" name="phone" class="form-control" id="phone" placeholder="Контактный телефон" required>
                </div>

                <div class="mb-3">
                    <label for="message">Сообщение</label>
                    <textarea type="text" name="message" class="form-control" id="message" placeholder="Введите сообщение" required></textarea>
                </div>

                <a class="btn btn-primary btn-sm" href="{% url 'reservations:message' %}" role="button">Отправить</a>

                </form>
            </div>
        </div>
    </div>
</div>
</main>

{% endblock %}