{% extends 'reservations/home.html' %}
{% load my_tags %}
{% block content %}


<main class="px-3">
{% for restaurant in object_list %}
  <h1>{{ restaurant.name }}</h1>
   <p class="lead">{{ restaurant.description|escape|linebreaks }}</p>
   <p class="lead">
     <a href="#" class="btn btn-sm btn-outline-secondary">Перечень предоставляемых услуг</a>
   </p>

   <p class="lead">
       <a href="{% url 'reservations:contacts' %}" class="btn btn-sm btn-outline-secondary">Контактная информация</a>
   </p>

   <p class="lead">
     <a href="{% url 'reservations:feedback' %}" class="btn btn-sm btn-outline-secondary">Форма для обратной связи</a>
   </p>
{% endfor %}



</main>
{% endblock %}