{% extends 'reservations/home.html' %}
{% load my_tags %}
{% block content %}


<main class="px-3">
{% for restaurant in object_list %}
  <h1>{{ restaurant.name }}</h1>
   <p class="lead">{{ restaurant.description|escape|linebreaks }}</p>
</main>

<main class="px-3">
    <h2>Перечень предоставляемых услуг</h2>
    <p>- Бесплатный заказ столиков</p>
    <p>- Для детей: Стульчики, принадлежности для рисования</p>
    <p>- Бесплатная парковка</p>
    <p>- Гардероб</p>
</main>


   <p class="lead">
       <a href="{% url 'reservations:contacts' %}" class="btn btn-sm btn-outline-secondary">Контактная информация</a>
   </p>

   <p class="lead">
     <a href="{% url 'reservations:feedback' %}" class="btn btn-sm btn-outline-secondary">Форма для обратной связи</a>
   </p>
{% endfor %}



</main>
{% endblock %}