{% extends 'reservations/home.html' %}
{% load my_tags %}
{% block content %}

<main class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <img src="/media/1.jpeg" class="card-img-top">
    <p></p>

    <div class="card-body">
        {% for restaurant in object_list %}
            <h1 class="card-title">{{ restaurant.name }}</h1>
            <p class="card-text">{{ restaurant.description|escape|linebreaks }}</p>
        {% endfor %}

        <div class="d-flex gap-2 justify-content-center"> <!-- Используем flexbox и добавляем отступы между кнопками -->
            <a href="{% url 'reservations:services' %}" class="btn btn-sm btn-outline-secondary">Услуги</a>
            <a href="{% url 'reservations:contacts' %}" class="btn btn-sm btn-outline-secondary">Контактная информация</a>
        </div>

    </div>
</main>

{% endblock %}