{% extends 'reservations/home.html' %}

{% block content %}

<div class="container">
    <h4 class="mt-4">Регистрация нового пользователя на сайте le Chouchou</h4>
    <div class="card-body">
        {%  csrf_token %}
        {{ form.as_p }}
    </div>

    <p></p>

    <div class="row mb-2">
        <div class="col-md-12">
            <p class="lead d-flex justify-content-center">
                <button type="submit" class="btn btn-light me-2">Зарегистрироваться</button>
            </p>
        </div>
    </div>
</div>

{% endblock %}